body{
    background-color: blueviolet;
}

.runner{
    height: 40px;
    width: 40px;

    background-color: rgb(255, 132, 0);
    border-radius: 50px;

    cursor: pointer;
}


.obstacle{
    position: absolute;
}

.droppable{
    height: 165px;
    width: 50px;
    background-color: rgb(238, 206, 22);
}

.clear{
    height: 150px;
    width: 50px;
}